<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<title>EMOJI TRANSLATOR</title>
</head>

<body>
	<h1>EMOJI TRANSLATOR</h1>
<!--ID IS WHAT IS RETURNED IN REQUEST FORM -->
<hr>

<div id = "nav">
	<a href = "/emojis" class="btn">EMOJIS </a>
	<a href = "/" class="btn"> TRANSLATE </a>
	<a href = "/about" class="btn">ABOUT </a>
</div>

<hr>

<div id = "info"> 
	These are all the emojis that are available in translation.
	Many words are not available yet/there is no translation for it.
	Try out words among this chart!
</div>


	<img src= "{{url_for('static', filename="emoji.png")}}", width=897, height=960, alt="previous" title="EMOJIS" border="0">
</body>
</html>

